<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Twitter Learning Journal - Knowledge Consumption Velocity (KCV)</title>

    <!-- Bootstrap4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <!-- Highcharts -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <p style="margin: 10px; padding: 5px">
            <span class="font-weight-bold">Justin Beall KCV Profile</span>
            <!-- - From {{report_start_date}} To {{report_stop_date}} -->
        </p>
        <form style="margin: 10px; padding: 5px" action="" method="post">
            <span class="input text">
                <span class="font-italic">Start Date</span>
                : <input type="text" name="report_start_date" id="report_start_date" value="{{ report_start_date }}"/>
            </span>
                <span class="input text">
                <span class="font-italic">Stop Date</span>
                : <input type="text" name="report_stop_date" id="report_stop_date" value="{{ report_stop_date }}"/>
            </span>
                <span class="input submit">
                <input type="submit" value="Submit"/>
            </span>
        </form>
    </div>
    <div class="container-fluid border">
        <h5>KCV = {{ tkcv }}, {{ akcv }}</h5>
    </div>
    <hr/>
</div>
<div id="container" class="container-fluid" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div class="container-fluid" style="font-size: 11pt">
    <div class="container-fluid" style="font-size: 11pt">
        <div class="container-fluid">
            <h2>Data Aggregates</h2>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-bordered">
                    <caption>Consumption By Medium</caption>
                    <tr>
                        <th>Medium</th>
                        <th>Number Items</th>
                        <th>Total KCV</th>
                    </tr>
                    {% for result in results %}
                        <tr>
                            <td>{{ result[0] }}</td>
                            <td>{{ result[1] }}</td>
                            <td>{{ result[2] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <hr/>
        <div class="container-fluid">
            <h2>Books</h2>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-striped table-bordered">
                    <caption>Books</caption>
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Length</th>
                        <th>Percent In Range</th>
                        <th>Classification</th>
                        <th>Start</th>
                        <th>Stop</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entry_report in book_entry_reports %}
                        <tr>
                            <td>{{ entry_report.title }}</td>
                            <td>{{ entry_report.medium }}</td>
                            <td>{{ entry_report.length }}</td>
                            <td>{{ entry_report.distribution_percent }}</td>
                            <td>{{ entry_report.classification }}</td>
                            <td>{{ entry_report.start_date }}</td>
                            <td>{{ entry_report.stop_date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr/>
        <div class="container-fluid">
            <h2>GitHub</h2>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-striped table-bordered">
                    <caption>GitHub</caption>
                    <thead>
                    <tr>
                        <th>Repository</th>
                        <th>Length</th>
                        <th>Percent In Range</th>
                        <th>Classification</th>
                        <th>Start Date</th>
                        <th>Stop Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entry_report in github_entry_reports %}
                        <tr>
                            <td><a target="_blank" href="{{ entry_report.url }}">{{ entry_report.title }}</a></td>
                            <td>{{ entry_report.length }}</td>
                            <td>{{ entry_report.distribution_percent }}</td>
                            <td>{{ entry_report.classification }}</td>
                            <td>{{ entry_report.start_date }}</td>
                            <td>{{ entry_report.stop_date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr/>
        <div class="container-fluid">
            <h2>Podcasts</h2>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-striped table-bordered">
                    <caption>Podcasts</caption>
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Length</th>
                        <th>Classification</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entry_report in podcast_entry_reports %}
                        <tr>
                            <td>{{ entry_report.title }}</td>
                            <td>{{ entry_report.length }}</td>
                            <td>{{ entry_report.classification }}</td>
                            <td>{{ entry_report.start_date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr/>
        <div class="container-fluid">
            <h2>Conferences</h2>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-striped table-bordered">
                    <caption>Conferences</caption>
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Length</th>
                        <th>Classification</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entry_report in conference_entry_reports %}
                        <tr>
                            <td><span title="{{ entry_report.url }}">{{ entry_report.title }}</span></td>
                            <td>{{ entry_report.length }}</td>
                            <td>{{ entry_report.classification }}</td>
                            <td>{{ entry_report.start_date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr/>
        <div class="container-fluid">
            <h2>Blogs</h2>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-striped table-bordered">
                    <caption>Blogs</caption>
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Length</th>
                        <th>Classification</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entry_report in blog_entry_reports %}
                        <tr>
                            <td><a target="_blank" href="{{ entry_report.url }}">{{ entry_report.title }}</a></td>
                            <td>{{ entry_report.length }}</td>
                            <td>{{ entry_report.classification }}</td>
                            <td>{{ entry_report.start_date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr/>
        <div class="container-fluid">
            <h2>Videos</h2>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-striped table-bordered">
                    <caption>Videos</caption>
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Length</th>
                        <th>Classification</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entry_report in video_entry_reports %}
                        <tr>
                            <td><span title="{{ entry_report.url }}">{{ entry_report.title }}</span></td>
                            <td>{{ entry_report.length }}</td>
                            <td>{{ entry_report.classification }}</td>
                            <td>{{ entry_report.start_date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr/>
        <div class="container-fluid">
            <h2>Pairings</h2>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-striped table-bordered">
                    <caption>Pairings</caption>
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Length</th>
                        <th>Classification</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entry_report in pairing_entry_reports %}
                        <tr>
                            <td><span title="{{ entry_report.url }}">{{ entry_report.title }}</span></td>
                            <td>{{ entry_report.length }}</td>
                            <td>{{ entry_report.classification }}</td>
                            <td>{{ entry_report.start_date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr/>
        <div class="container-fluid">
            <h2>Tweets</h2>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-striped table-bordered">
                    <caption>Tweets</caption>
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Length</th>
                        <th>Classification</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entry_report in tweet_entry_reports %}
                        <tr>
                            <td><span title="{{ entry_report.url }}">{{ entry_report.title }}</span></td>
                            <td>{{ entry_report.length }}</td>
                            <td>{{ entry_report.classification }}</td>
                            <td>{{ entry_report.start_date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr/>
        <div class="container-fluid">
            <h2>Conversion Legend</h2>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Medium</th>
                        <th>Conversion Calculation</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Books</td>
                        <td>
                            <span class="font-weight-bold">pages</span> = pages in book - <span
                                class="font-italic">*dbp</span><br/>
                            <span class="font-weight-bold">word count</span> = pages x <span
                                class="font-italic">*awpp</span><br/>
                            <span class="font-weight-bold">days to read book</span>
                            = (book stop date - book sart date) + 1<br/>
                            <span class="font-weight-bold">total minutes</span>
                            = count / <span class="font-italic">*ars</span><br/>
                            <span class="font-weight-bold">total hours</span> = total minutes / minutes per hour<br/>
                            <span class="font-weight-bold">hours per day</span> = total hours / days to read book<br/>
                            <span class="font-weight-bold">days overlap</span>
                            = len( [ day for day in book_days <br/>
                            &nbsp;&nbsp;&nbsp;&nbsp; if report_stop >= day >= report_start ] )<br/>
                            <hr/>
                            average KCV (<span class="font-weight-bold">aKCV</span>) = hours per day<br/>
                            total KCV (<span class="font-weight-bold">tKCV</span>) = aKCV x days overlap<br/>
                        </td>
                    </tr>
                    <tr>
                        <td>Audio Books</td>
                        <td>
                            <span class="font-weight-bold">hours</span> = audio book length in hours<br/>
                            <span class="font-weight-bold">days to hear book</span>
                            = (book stop date - book sart date) + 1<br/>
                            <span class="font-weight-bold">hours per day</span> = total hours / days to hear book<br/>
                            <span class="font-weight-bold">days overlap</span>
                            = len( [ day for day in audio_book_days <br/>
                            &nbsp;&nbsp;&nbsp;&nbsp; if report_stop >= day >= report_start ] )<br/>
                            <hr/>
                            average KCV (<span class="font-weight-bold">aKCV</span>) = hours per day<br/>
                            total KCV (<span class="font-weight-bold">tKCV</span>) = aKCV x days overlap<br/>
                        </td>
                    </tr>
                    <tr>
                        <td>GitHub</td>
                        <td>
                            <span class="font-weight-bold">minutes</span> = number commits per week x
                            <span class="font-weight-bold">*gcmc</span><br/>
                            <span class="font-weight-bold">hours</span> = minutes / 60<br/>
                            <span class="font-weight-bold">hours per day</span> = hours / days in week<br/>
                            <span class="font-weight-bold">days overlap</span>
                            = len( [ day for day in commit week <br/>
                            &nbsp;&nbsp;&nbsp;&nbsp; if report_stop >= day >= report_start ] )<br/>
                            <hr/>
                            average KCV (<span class="font-weight-bold">aKCV</span>) = hours per day<br/>
                            total KCV (<span class="font-weight-bold">tKCV</span>) = aKCV x days overlap<br/>
                        </td>
                    </tr>
                    <tr>
                        <td>Podcast</td>
                        <td>
                            <span class="font-weight-bold">hours</span> = podcast length in hours<br/>
                            <hr/>
                            total KCV (<span class="font-weight-bold">tKCV</span>) = hours<br/>
                        </td>
                    </tr>
                    <tr>
                        <td>Blogs</td>
                        <td>
                            <span class="font-weight-bold">words</span> = words received from url - <span
                                class="font-italic">*dsd</span><br/>
                            <span class="font-weight-bold">minutes</span> = words / <span
                                class="font-italic">*abrs</span><br/>
                            <span class="font-weight-bold">hours</span> = minutes / 60<br/>
                            <hr/>
                            total KCV (<span class="font-weight-bold">tKCV</span>) = hours<br/>
                        </td>
                    </tr>
                    <tr>
                        <td>Tweets</td>
                        <td>
                            <span class="font-weight-bold">words</span> = words in tweet<br/>
                            <span class="font-weight-bold">minutes</span> = words / <span
                                class="font-italic">*atrs</span><br/>
                            <span class="font-weight-bold">hours</span> = minutes / 60<br/>
                            <hr/>
                            total KCV (<span class="font-weight-bold">tKCV</span>) = hours<br/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-sm table-striped table-bordered">
                    <caption>* System Estimated Variable</caption>
                    <thead>
                    <tr>
                        <th>Assumption Variables</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            average reading speed in minutes = *ars<br/>
                            average blog speed in minutes = *abrs<br/>
                            average tweet speed in minutes = *atrs<br/>
                            average words per page = *awpp<br/>
                            deviation book pages (number of auxiliary pages) = *dbp<br/>
                            domain specific deviation = *dsd<br/>
                            github commit minute count = *gcmc
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="font-italic">*ars</span> = 200 words/minute<br/>
                            <span class="font-italic">*ars</span> = 175 words/minute<br/>
                            <span class="font-italic">*ars</span> = 125 words/minute<br/>
                            <span class="font-italic">*awpp</span> = 250 words/page<br/>
                            <span class="font-italic">*dbp</span> = 50 pages<br/>
                            <span class="font-italic">*dsd</span> = per domain (url total words - content words)<br/>
                            <span class="font-italic">*gcmc</span> = 15 minutes<br/>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        title = "Twitter Learning Journal - Knowledge Consumption Velocity (KCV)";
        {% if title %}
            title = "{{ title }}";
        {% endif %}

        categories = {{ categories }};

        categories = [
            {% for category in categories %}
                '{{ category }}',
            {%  endfor %}
        ];


        series = [
            {% for entry in series  %}
                {
                    name: '{{ entry['name'] }}',
                    data: [
                        {% for data_point in entry['data']  %}
                            {{ data_point }},
                        {% endfor %}
                    ]
                },
            {% endfor %}
        ];

    </script>

    <script type="text/javascript">
        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: title
            },
            xAxis: {
                categories: categories
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'KCV (hours)'
                },
                stackLabels: {
                    enabled: false,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            legend: {
                align: 'right',
                x: -30,
                verticalAlign: 'top',
                y: 25,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: false,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                    }
                }
            },
            series: series
        });
    </script>
</body>
</html>
